/* Estilo Header*/
@import url(../../color.css);

  header {
    background-color: var(--cor_principal_laranja); 
    display: flex;
    height: 15%; /*+++*/
    width: 100%; 
    justify-content: space-between;
    align-items: center;
  }

  .sub{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
  }

  .sub_menu{ display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
  }


  

