@import url(./color.css);

/*Estilos Globais*/

*{
    border: 0px;
    padding: 0px;
    margin: 0px ;
    box-sizing: border-box;
  /*font-family: ;*/
}

body{
    margin: 0 auto;
    background-color: var(--cor_primaria);/*MUDAR COR ~^~*/
    
    max-width: 1200px; /* TAMANHOS DE TELAS*/
    min-width: 320px;
    max-height: 100%;
    min-height: 500px;


}