


/* Container da promoção */
#containerPromo {
    width: 100%;
    height: 48px;
    background-color: var(--roxo-50);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #containerPromoOff{
    display: none;
  }
  
  #containerPromo h2{
      margin: 0 1rem;
      
  }
  
  #containerPromo div{
    margin: 0 1rem;
  }
  

  @media screen and (max-width: 991px) {
    
  
    #containerPromo {/*Tlvz por para inferior a 600px +++*/
      height: 62.5px;  
    }
  
    #containerPromo h2{
      display: none;
    
  }}